# AWS Credentials & Configuration Template
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_DEFAULT_REGION=ap-southeast-1

# Terraform Backend State Configuration
TF_STATE_S3_BUCKET=devops-tfstate-bucket-unique-id
TF_STATE_DYNAMODB_TABLE=devops-tfstate-locks
TF_STATE_REGION=ap-southeast-1

# Environment Name
ENVIRONMENT=dev
